.textarea-bottomline {
    border: 0;
    display: inline-flex;
    padding: 0;
    z-index: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;

    .textarea-bottomline-wrapper .fly-label {
        top: -1rem;
    }

    .textarea-bottomline-wrapper textarea {
        display: block;
        color: var(--textarea-color);
        width: 100%;
        border: 0;
        margin: 0;
        min-width: 0;
        background: var(--textarea-bg-color);
        box-sizing: content-box;
    
        &:focus {
            outline: 0;
            background: var(--textbox-bg-color);
            box-shadow: none;
        }
        &::placeholder{
            color: var(--textarea-placeholder-color);
        }
    }

    .textarea-bottomline-wrapper{
        &:hover {
            &:before {
                border-bottom: 2px solid;
                border-bottom-color: var(--textarea-line-hover-color);
                opacity: 0.87;
            }
        }
    }
    

    label {
        pointer-events: none;
    }

    .fly-label {
        display: block;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        color: var(--textarea-label-color);
        font-size: 1rem;
        line-height: 1;
        transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        transform: translate(0, 24px) scale(1);
        transform-origin: top left;

        &.flying {
            transform: translate(0, 8px) scale(0.75);
            transform-origin: top left;
        }
    }

    &:focus-within {
        .fly-label {
            transform: translate(0, 8px) scale(0.75);
            transform-origin: top left;
            color: var(--textarea-focus-label-color);
        }

        .textarea-bottomline-wrapper {
            &::after {
                transform: scaleX(1);
            }
        }
    }

    &.disabled {
        .textarea-bottomline-wrapper {
            color: var(--textarea-disabled);

            &::before,
            &::after {
                border-bottom-style: dotted;
                border-bottom-color: var(--textarea-disabled);
            }
        }

        .fly-label {
            color: var(--textarea-disabled);
        }

        svg {
            fill: var(--textarea-disabled);
        }
    }

}

.textarea-bottomline-wrapper {
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    line-height: 1.1875em;
    margin-top: 4px;
    flex-grow: 1;

    &::before {
        left: 0;
        right: 0;
        bottom: 0;
        content: "\00a0";
        position: absolute;
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom-color: var(--textarea-line-color);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        opacity: 0.42;
        pointer-events: none;
    }

    &::after {
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        transform: scaleX(0);
        transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        border-bottom-color: var(--textarea-focus-line-color);
        border-bottom-width: 2px;
        border-bottom-style: solid;
        pointer-events: none;
    }
}

.textarea-bottomline{
    &:focus-within {
        .textarea-bottomline-wrapper::after {
            transform: scaleX(1);
        }
    }
}