.material.switch{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    &.success{
        --input-border-color: var(--status);
    }
    &.error{
        --input-border-color: var(--status);
        --text-color: var(--status);
        --shadow-color: var(--status);
    }
    &.disabled{
        opacity: 0.6;
    }
    input {
        border: 0;
        opacity: 0;
        margin: -1px;
        width: 100%;
        height: 100%;
        padding: 0;
        outline: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: auto;
        cursor: pointer;
        -webkit-appearance: none;
        &:disabled,.disabled{
            cursor: auto;
        }
    }
    label {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after{display: none}
        &::before{display: none}

        div {
            position: relative;
            background-color: var(--input-bg-color);
            width: 1.6rem;
            height: 0.8rem;
            border-radius: 0.4rem;
            margin-right: 0.75rem;
            transition: all 0.2s ease-out;
            box-shadow: -0.0625rem 0 0.25rem 0.0625rem var(--shadow-color) inset;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-120%,-50%) scale(1.4);
                background-color: #fff;
                border-radius: 50%;
                box-shadow: -0.0625rem 0.0625rem 0.125rem 0.0625rem #00000022;
                width: 0.8rem;
                height: 0.8rem;
                transition: all 0.3s ease-out;
            }
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: var(--status);
                transform: translate(-120%,-50%) scale(0);
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }
        span{
            color: var(--text-color);
        }
    }
    input:active+label{
        div{
            &::before {
                opacity: 0.15;
                background-color: #00000077;
                transform: translate(-100%,-50%) scale(2.5);
            }
        }
    }
    input:checked+label{
        div{
            box-shadow: -0.0625rem 0 0.25rem 0.0625rem var(--status) inset;
            background-color: var(--status);
            &::after {
                transform: translate(20%,-50%) scale(1.4);
                box-shadow: 0.0625rem 0.0625rem 0.125rem 0.0625rem #00000022;
            } 
        }
    }
    input:checked:active+label{
        div{
            &::before {
                opacity: 0.15;
                background-color: var(--status);
                transform: translate(0,-50%) scale(2.5);
            }
        }
    }
}
.switch-wave-effect-on{
    &::before{
        animation: switch-wave-effect-on 0.3s; 
    }
}
.switch-wave-effect-off{
    &::before{
        animation: switch-wave-effect-off 0.3s; 
    }
}
@keyframes switch-wave-effect-on{
    0%{
        background-color: var(--input-bg-color);
        opacity: 0.15;
        transform: translate(-100%,-50%) scale(0);
    }
    50%{
        background-color: var(--status);
        opacity: 0.15;
        transform: translate(-70%,-50%) scale(2.5);
    }
    100%{
        background-color: var(--status);
        opacity: 0;
        transform: translate(0%,-50%) scale(2.5);
    }
}
@keyframes switch-wave-effect-off{
    0%{
        background-color: var(--status);
        opacity: 0.15;
        transform: translate(0%,-50%) scale(0);
    }
    50%{
        background-color: var(--status);
        opacity: 0.15;
        transform: translate(-70%,-50%) scale(2.5);
    }
    100%{
        background-color: var(--input-bg-color);
        opacity: 0;
        transform: translate(-100%,-50%) scale(2.5);
    }
}


