@import 'bottomline';
@import 'outline';

:global(.textbox-line) {
    --status: var(--primary);
    --textbox-line-color: #000;
    --textbox-hover-line-color: #000;
    --textbox-focus-line-color: var(--status);
    --textbox-label-color: #000;
    --textbox-focus-label-color: var(--status);
    --textbox-disabled: #00000069;
    --textbox-bg-color: transparent;
    --textbox-color: currentColor;
    --textbox-placeholder-color: #888;
    &.success{
        --status: var(--success);
        --textbox-label-color: var(--success);
        --textbox-line-color: var(--success);
        --textbox-focus-line-color: var(--success);
    }
    &.error{
        --status: var(--danger);
        --textbox-label-color: var(--danger);
        --textbox-line-color: var(--danger);
        --textbox-focus-line-color: var(--danger);
    }
}



input.password-reveal {
    &::-ms-clear {
        display: none;
    }

    &::-ms-reveal {
        display: none;
    }

    padding-right: 2rem;

    &:global(.is-invalid) {
        background-image: none;

        &+button {
            color: var(--danger);
        }

    }

    &:global(.is-valid) {
        background-image: none;

        &+button {
            color: var(--success);
        }
    }

}

.icon-btn {
    margin-left: -2rem;
    width: 2rem;
    background: transparent;
    color: inherit;
    border: 0;
    align-self: center !important;
    outline: none !important;
    opacity: 0.6;

    svg {
        fill: currentColor;
        width: 1.2rem;
        height: 1.2rem;
    }
}

.prefix,.group-prepend {
    flex: 1 1 0;
    padding: 0.25rem 0.375rem;
    align-self: flex-end;

    svg {
        fill: currentColor;
    }
}

.suffix,.group-append {
    flex: 1 1 0;
    padding: 0.25rem 0.375rem;
    align-self: flex-end;

    svg {
        fill: currentColor;
    }
}

.field{
    display: flex;
    width: 100%;
}

input.form-control{
    color: var(--textbox-color);
    width: 100%;
    background: var(--textbox-bg-color);
    &:focus {
        background: var(--textbox-bg-color);
    }
    &::placeholder{
        color: var(--textbox-placeholder-color);
    }
}