:global(.checkbox) {
  --status: var(--primary);
  --checkbox-border-color: #000;
  --checkbox-text-color: #000;
  --checked-border-color: var(--status);
  --checked-bg-color: var(--status);
}

:global(.checkbox).success {
  --status: var(--success);
  --checkbox-border-color: var(--success);
}

:global(.checkbox).error {
  --status: var(--danger);
  --checkbox-border-color: var(--danger);
}

.checkbox-group :global(.feeback) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.checkbox-group .checkbox-list input:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: auto;
}

.checkbox-group .checkbox-list input:disabled + label {
  --status: var(--secondary);
  --checkbox-border-color: var(--secondary);
  opacity: 0.6;
  pointer-events: none;
}

.checkbox-group.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.checkbox-group.disabled .checkbox-list input {
  pointer-events: none;
  cursor: auto;
}

.checkbox-list {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.material.checkbox-list {
  position: relative;
  display: inline-block;
  padding: 0;
}

.material.checkbox-list.disabled {
  opacity: 0.6;
}

.material.checkbox-list input {
  border: 0;
  opacity: 0;
  margin: -1px;
  width: 100%;
  height: 100%;
  padding: 0;
  outline: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
}

.material.checkbox-list label {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--checkbox-text-color);
}

.material.checkbox-list label::after {
  display: none;
}

.material.checkbox-list label::before {
  display: none;
}

.material.checkbox-list label .checkbox-boxborder {
  position: relative;
  background-color: transparent;
  border: 0.125rem solid var(--checkbox-border-color);
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 0.125rem;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.material.checkbox-list label .checkbox-boxborder::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%) rotate(45deg);
          transform: translate(-50%, -60%) rotate(45deg);
  background-color: transparent;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0.125rem 0.125rem 0;
  width: 0.4rem;
  height: 0.75rem;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.material.checkbox-list label span {
  color: var(--text-color);
}

.material.checkbox-list input:checked + label .checkbox-boxborder {
  border: 0.125rem solid var(--checked-border-color);
  background-color: var(--checked-bg-color);
}

.material.checkbox-list input:checked + label .checkbox-boxborder::after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.checkbox-wave-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.checkbox-wave-effect.on {
  -webkit-animation: checkbox-wave-effect-on 0.4s;
          animation: checkbox-wave-effect-on 0.4s;
}

.checkbox-wave-effect.off {
  -webkit-animation: checkbox-wave-effect-off 0.4s;
          animation: checkbox-wave-effect-off 0.4s;
}

@-webkit-keyframes checkbox-wave-effect-on {
  0% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
  100% {
    background-color: var(--checked-bg-color);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes checkbox-wave-effect-on {
  0% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  50% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
  100% {
    background-color: var(--checked-bg-color);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

@-webkit-keyframes checkbox-wave-effect-off {
  0% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  33% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
  66% {
    background-color: #000;
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
  100% {
    background-color: #000;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

@keyframes checkbox-wave-effect-off {
  0% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  33% {
    background-color: var(--checked-bg-color);
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
  66% {
    background-color: #000;
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
  100% {
    background-color: #000;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}
/*# sourceMappingURL=checkbox.css.map */