.select.material,.select.bottomline{
    &.disabled{
        opacity: 0.6;
        .select-dropdown{
            cursor: auto;
        }
    }
    
    .select-btn{
        padding: 0;
        color: var(--select-btn-text-color);

        &::after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%) rotate(0deg);
            border-width: 0.5rem 0.5rem*0.707 0 0.5rem*0.707;
            border-style: solid;
            border-color: var(--select-line-color) transparent transparent transparent;
            transition: all 0.3s ease-in-out;
        }
        input,button,.select-btn-input,.select-btn-button {
            text-align: left;
            border-color: transparent;
            border-style: solid;
            background-color: var(--select-btn-bg-color);
            padding: 0.25rem 1.5rem 0.25rem 0.75rem;
            width: 100%;
            cursor: pointer;
            &:focus{
                box-shadow: none;
                outline: 0;
            }
        }
    }
    .select-line{
        z-index: 12;
        width: 100%;
        
        &::before{
            content: '';
            position: absolute;
            height: 0.0625rem;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.5;
            background-color: var(--select-line-color);
            transition: all 0.3s ease-in-out;
        }
        &::after{
            content: '';
            position: absolute;
            height: 0.125rem;
            bottom: 0;
            left: 50%;
            right: 50%;
            background-color: var(--select-active-line-color);
            transition: all 0.3s ease-in-out;
            z-index: 2;
            pointer-events: none;
        }
    }
    .select-dialog{
        background-color: var(--select-dialog-bg-color);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.2s ease;
        z-index: var(--select-dialog-zindex);
        .select-panel{
            left: 0;
            right: 0;
            bottom: 0;
        }
        .select-option{
            text-align: center;
        }
    }
    .select-panel{
        background-color: var(--select-panel-bg-color);
        position: absolute;
        left: 0;
        right: 0;
        overflow: auto;
        display: flex;
        flex-direction: column;
        z-index: 1;
        &.transition-3{
            transition: all 0.3s;
        }
        button{
            color: var(--select-text-color);
            span{
                pointer-events: none;
            }
            &.active{
                background-color: var(--select-hover-bg-color);
                color: var(--select-hover-text-color);
                opacity: 0.6;
            }
            &.input{
                background-color: var(--select-hover-bg-color);
                color: var(--select-hover-text-color);
                opacity: 0.8;
            }
            &:hover{
                background-color: var(--select-hover-bg-color);
                color: var(--select-hover-text-color);
                opacity: 1;
            }
            &:focus{
                box-shadow: none;
                outline: 0;
                background-color: var(--select-hover-bg-color);
                color: var(--select-hover-text-color);
                opacity: 1;
            }
            &.disabled{
                background-color: var(--select-btn-bg-color);
                color: var(--text-color);
            }
            
        }
    }    
    
    .select-option{
        border: 0;
        width: 100%;
        text-align: left;
        overflow: hidden;
        flex-shrink: 0;
        padding: 0.25rem 0.75rem;
        background-color: var(--select-panel-bg-color);
        &.disabled{
            background-color: var(--select-disabled-bg-color);
            opacity: 0.6;
            cursor: auto;
        }
    }   
    .select-option-prefix{
        border: 0;
        width: 100%;
        text-align: left;
        overflow: hidden;
        flex-shrink: 0;
        padding: 0.25rem 0.75rem;
        background-color: var(--select-panel-bg-color);
    }    
    .select-option-suffix{
        border: 0;
        width: 100%;
        text-align: left;
        overflow: hidden;
        flex-shrink: 0;
        padding: 0.25rem 0.75rem;
        background-color: var(--select-panel-bg-color);
    }     
    &:hover{
        .select-line::before{
            background-color: var(--select-hover-line-color);
            height: 0.125rem;
        }
    }
    &:focus-within {
        .select-line::after{
            left: 0;
            right: 0;
        }
        .select-line::before{
            height: 0.125rem;
        }
    }
    .select-dropdown{
        width: 100%;
        position: relative;

        &.active{
            .select-btn{
                &::after{
                    transform: translateY(-50%) rotate(180deg);
                    border-color: var(--status) transparent transparent transparent;
                }
            }
            .select-line::after{
                height: 0.2rem;
            }
            .select-line::after{
                left: 0;
                right: 0;
            }
            &:hover{
                .select-line::before{
                    height: 0.125rem;
                }
            }
            .select-panel{
                height: auto;
                box-shadow:  0 0.125rem 0.25rem 0.125rem #00000011,0 -0.125rem 0.25rem 0.125rem #00000011;
            }
        }
    }
}
