.select {
  --status: var(--primary);
  --select-btn-bg-color: transparent;
  --select-panel-bg-color: #fff;
  --select-line-color: #666;
  --select-border-color: transparent;
  --select-border-line: var(--primary);
  --select-hover-bg-color: var(--primary);
  --select-hover-text-color: #fff;
  --select-disabled-bg-color: #666;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select label {
  margin-right: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: var(--text-color);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.select select {
  background-color: transparent;
}

.select.material.disabled {
  opacity: 0.6;
}

.select.material.disabled .select-dropdown {
  cursor: auto;
}

.select.material .select-dropdown {
  width: 100%;
  position: relative;
}

.select.material .select-btn {
  padding: 0;
}

.select.material .select-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.5rem;
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
  border-width: 0.5rem 0.3535rem 0 0.3535rem;
  border-style: solid;
  border-color: var(--status) transparent transparent transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select.material .select-btn input, .select.material .select-btn button {
  text-align: left;
  border-color: var(--select-border-color);
  border-style: solid;
  background-color: var(--select-btn-bg-color);
  padding: 0.25rem 0.75rem;
  width: 100%;
  cursor: pointer;
}

.select.material .select-btn input:focus, .select.material .select-btn button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.select.material .select-line {
  z-index: 12;
  width: 100%;
}

.select.material .select-line::before {
  content: '';
  position: absolute;
  height: 0.0625rem;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: var(--select-line-color);
}

.select.material .select-line::after {
  content: '';
  position: absolute;
  height: 0.0625rem;
  bottom: 0;
  left: 50%;
  right: 50%;
  background-color: var(--status);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.select.material .select-panel {
  background-color: var(--select-panel-bg-color);
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.select.material .select-panel.transition-3 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.select.material .select-panel button.active {
  background-color: var(--select-hover-bg-color);
  color: var(--select-hover-text-color);
  opacity: 0.6;
}

.select.material .select-panel button.input {
  background-color: var(--select-hover-bg-color);
  color: var(--select-hover-text-color);
  opacity: 0.8;
}

.select.material .select-panel button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background-color: var(--select-hover-bg-color);
  color: var(--select-hover-text-color);
  opacity: 1;
}

.select.material .select-panel button:hover {
  background-color: var(--select-hover-bg-color);
  color: var(--select-hover-text-color);
  opacity: 1;
}

.select.material .select-option {
  border: 0;
  width: 100%;
  text-align: left;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0.25rem 0.75rem;
  background-color: var(--select-panel-bg-color);
}

.select.material .select-option.disabled {
  background-color: var(--select-disabled-bg-color);
  opacity: 0.6;
  cursor: auto;
}

.select.material:hover .select-line::after {
  left: 0;
  right: 0;
}

.select.material:hover .select-line::before {
  height: 0.125rem;
}

.select.material:hover .select-line::after {
  height: 0.125rem;
}

.select.material:focus-within .select-line::after {
  left: 0;
  right: 0;
}

.select.material:focus-within .select-line::before {
  height: 0.125rem;
}

.select.material:focus-within .select-line::after {
  height: 0.125rem;
}

.select.material .active .select-line::after {
  left: 0;
  right: 0;
}

.select.material .active:hover .select-line::before {
  height: 0.125rem;
}

.select.material .active:hover .select-line::after {
  height: 0.125rem;
}

.select.material .active .select-panel {
  height: auto;
  -webkit-box-shadow: 0 0.125rem 0.25rem 0.125rem #00000011,0 -0.125rem 0.25rem 0.125rem #00000011;
          box-shadow: 0 0.125rem 0.25rem 0.125rem #00000011,0 -0.125rem 0.25rem 0.125rem #00000011;
}
/*# sourceMappingURL=select.css.map */