@import 'bottomline';
@import 'outline';

//** var *******************************************************************************************
:global(.select-line) {
    --status: var(--primary);
    --select-btn-bg-color: transparent;
    --select-active-btn-bg-color: transparent;
    --select-btn-text-color: #000;
    --select-active-btn-text-color: #000;
    --select-panel-bg-color: #fff;
    --select-line-color: #666;
    --select-hover-line-color: #222;
    --select-active-line-color: var(--status);
    --select-hover-bg-color: var(--status);
    --select-text-color: #000;
    --select-hover-text-color: #fff;
    --select-disabled-bg-color: #666;
    --select-dialog-bg-color: #000000bb;
    --select-dialog-zindex: 1000;
    --select-scrollbar-bg-color: rgba(128, 128, 128, 0.5);
    &.success{
        --status: var(--success);
    }
    &.error{
        --status: var(--danger);
    }
    &.disabled{
        --status: var(--secondary);
    }
}

//** native *******************************************************************************************
.select-dialog-body{
    overflow: hidden;
}
.select{
    display: flex;
    flex-direction: column;
    
    select{
        background-color: transparent;
    }
    .select-panel{
        &::-webkit-scrollbar{width: 0.25rem;}
        &::-webkit-scrollbar-button{height: 0;}
        &::-webkit-scrollbar-thumb{background-color: var(--status);}
        &::-webkit-scrollbar-track{background-color: var(--select-scrollbar-bg-color);}
    }
}
