.datepicker-popup {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.calendar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  width: 296px;
  height: 0;
  font-family: Roboto, "Helvetica Neue", "Microsoft JhengHei", sans-serif;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
  overflow: hidden;
}

.calendar.show {
  height: 370px;
}

.calendar-header {
  padding: 8px 8px 0 8px;
}

.calendar-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% calc(33% / 7 - 16px);
}

.mat-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  color: inherit;
  background: 0 0;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  overflow: visible;
}

.header-year-month {
  font-size: 1.2rem;
}

.calendar-previous-button,
.calendar-next-button {
  position: relative;
}

.calendar-previous-button::after,
.calendar-next-button::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: '';
  margin: 15.5px;
  border: 0 solid currentColor;
  border-top-width: 2px;
}

.calendar-previous-button::after {
  border-left-width: 2px;
  -webkit-transform: translateX(2px) rotate(-45deg);
          transform: translateX(2px) rotate(-45deg);
}

.calendar-next-button::after {
  border-right-width: 2px;
  -webkit-transform: translateX(-2px) rotate(45deg);
          transform: translateX(-2px) rotate(45deg);
}

.calendar-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar-weekly {
  padding: 0 8px;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar-weekly .cell {
  width: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.38);
}

.calendar-divider {
  margin: .5rem 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.calendar-content {
  padding: 0 8px 8px 8px;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calendar-content-cell {
  text-align: center;
  width: 40px;
  height: 40px;
}

.calendar-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.calendar-day.selected {
  border-width: 1px !important;
}

.calendar-day.not-in-month {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
}

.perspective {
  position: relative;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.calendar-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.calendar-moveToLeft {
  -webkit-animation: moveToLeft .5s ease both;
          animation: moveToLeft .5s ease both;
}

.calendar-moveFromLeft {
  -webkit-animation: moveFromLeft .5s ease both;
          animation: moveFromLeft .5s ease both;
}

.calendar-moveToRight {
  -webkit-animation: moveToRight .5s ease both;
          animation: moveToRight .5s ease both;
}

.calendar-moveFromRight {
  -webkit-animation: moveFromRight .5s ease both;
          animation: moveFromRight .5s ease both;
}

.year-month-picker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  overflow: auto;
}

.year-month-picker.show {
  -webkit-animation: pickerIn .15s alternate ease-in;
          animation: pickerIn .15s alternate ease-in;
}

.year-month-picker.hide {
  -webkit-animation: pickerOut .15s alternate ease-in;
          animation: pickerOut .15s alternate ease-in;
}

.year-panel,
.month-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.year-panel .cell,
.month-panel .cell {
  width: calc(100%/4);
  padding: 10px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.month-panel .cell {
  padding: 10px 10px;
}

.year-panel .cell {
  padding: 5px 5px;
}

@-webkit-keyframes pickerIn {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pickerIn {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pickerOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@keyframes pickerOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

/********************************* keyframes **************************************/
/* move from / to  */
@-webkit-keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes moveToRight {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
/*# sourceMappingURL=calendar.css.map */